@{
    ViewData["Title"] = "Not Authorized";
}

<p style="text-align: center;"><img src="~/images/NotFound.png" /></p>
<h2 style="text-align: center;">You are not authorized to perform this action!</h2>