@model GoViatic.Web.Models.ViaticViewModel

@{
    ViewData["Title"] = "AddViatic";
}

<h2>AddViatic</h2>


<h4>ViaticViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddViatic" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TripId" />
            <input type="hidden" asp-for="ViaticTypeId" />

            <div class="form-group">
                <label asp-for="ViaticName" class="control-label"></label>
                <input asp-for="ViaticName" class="form-control" />
                <span asp-validation-for="ViaticName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvoiceDate" class="control-label"></label>
                <input asp-for="InvoiceDate" class="form-control" />
                <span asp-validation-for="InvoiceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" type="file" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
                <a asp-action="Details" asp-route-id="@Model.TripId" class="btn btn-primary">Back To Trip</a>
            </div>
        </form>
    </div>
</div>