@model GoViatic.Web.Models.ViaticViewModel
@{
    ViewData["Title"] = "Create Viatic";
}

<h2>Add new Viatic</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateViatic" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TripId" />

            <div class="form-group">
                <label asp-for="ViaticName" class="control-label"></label>
                <input asp-for="ViaticName" class="form-control" />
                <span asp-validation-for="ViaticName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvoiceDate" class="control-label"></label>
                <input asp-for="InvoiceDate" class="form-control" />
                <span asp-validation-for="InvoiceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" type="file" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvoiceAmmount" class="control-label"></label>
                <input asp-for="InvoiceAmmount" class="form-control" />
                <span asp-validation-for="InvoiceAmmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ViaticType" class="control-label"></label>
                <input asp-for="ViaticType" class="form-control" />
                <span asp-validation-for="ViaticType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
                <a asp-action="DetailsTrip" asp-route-id="@Model.TripId" class="btn btn-danger">Back To Trips</a>
            </div>
        </form>
    </div>
</div>