@model GoViatic.Web.Models.TripViewModel
@{
    ViewData["Title"] = "Edit Trip";
}

<h2>Edit Trip</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditTrip" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TravelerId" />

            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
                <a asp-action="DetailsTraveler" asp-route-id="@Model.TravelerId" class="btn btn-danger">Back To Trips</a>
            </div>
        </form>
    </div>
</div>