@model GoViatic.Web.Models.ViaticViewModel
@{
    ViewData["Title"] = "Edit Viatic";
}

<h2>Edit Viatic</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditViatic" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TripId" />
            <input type="hidden" asp-for="ImageUrl" />

            <partial name="_Viatic" />

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
                <a asp-action="DetailsTrip" asp-route-id="@Model.TripId" class="btn btn-danger">Back To Trips</a>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        @if (!string.IsNullOrEmpty(Model.ImageUrl))
        {
            <img src="@Url.Content(Model.ImageUrl)" alt="Image" style="width:400px;height:400px;max-width: 100%; height: auto;" />
        }
    </div>
</div>